@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-v19-latin_cyrillic-regular.woff)
      format("woff"),
    url(../fonts/raleway/raleway-v19-latin_cyrillic-regular.woff2)
      format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-v19-latin_cyrillic-500.woff) format("woff"),
    url(../fonts/raleway/raleway-v19-latin_cyrillic-500.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-v19-latin_cyrillic-700.woff) format("woff"),
    url(../fonts/raleway/raleway-v19-latin_cyrillic-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-v19-latin_cyrillic-900.woff) format("woff"),
    url(../fonts/raleway/raleway-v19-latin_cyrillic-900.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-bg-text: #acacb0;
  --alt-title-cl: #ffffff;

  --dark-bg: #2f303a;
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;

  --title-font-weight: 700;
  --sub-title-font-weight: 500;
  --primary-font-size: 14px;
  --secondary-font-size: 16px;
  --main-line-height: 1.15;
  --main-letter-spacing: 0.03em;
}

body {
  font-family: var(--main-font);
  font-size: var(--primary-font-size);
  line-height: var(--main-line-height);
  letter-spacing: var(--main-letter-spacing);

  color: var(--title-cl);
  background-color: var(--alt-title-cl);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: var(--title-cl);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(--title-font-weight);
  color: #000000;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.accent-logo {
  color: var(--accent-cl);
}

.main-nav .link {
  font-weight: var(--sub-title-font-weight);
  font-size: 14px;
  letter-spacing: 0.02em;
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--accent-cl);
}

.main-nav .link.current {
  color: var(--accent-cl);
}

.contact-inf .link {
  font-weight: var(--sub-title-font-weight);
  letter-spacing: 0.02em;
  color: var(--main-text-cl);
}

.hero {
  background-color: var(--dark-bg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--alt-title-cl);
}

.hero-btn {
  font-weight: var(--title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  letter-spacing: 0.06em;

  color: var(--alt-title-cl);
  background: var(--accent-cl);

  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.features-title {
  font-size: 14px;
  font-weight: var(--title-font-weight);
  text-transform: uppercase;
}

.features-desc {
  line-height: 1.7;
  color: var(--main-text-cl);
}

.section-title {
  font-weight: var(--title-font-weight);
  font-size: 36px;
}

.team-title {
  font-weight: var(--sub-title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.18;
}

.team-desc {
  font-size: var(--secondary-font-size);
  line-height: 1.18;
  color: var(--main-text-cl);
}

.footer {
  background-color: var(--dark-bg);
}

.logo.footer {
  color: #ffffff;
}

.location {
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
  color: var(--alt-title-cl);
}

.contact-inf.footer .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.contact-inf.footer .link:hover,
.contact-inf.footer .link:focus,
.location:hover,
.location:focus {
  color: var(--accent-cl);
}

.btn {
  font-weight: var(--sub-title-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 1.6;
  background-color: #f5f4fa;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-cl);
  color: var(--alt-title-cl);
}

.portfolio .title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio .text {
  font-size: var(--secondary-font-size);
  line-height: 1.8;
  color: var(--main-text-cl);
}
